$tile-animation: all ease 0.5s;

.power-up-tile {
  position: relative;
  background: url(http://www.codyromano.com/qu/read-only-98443_640.png) no-repeat;
  background-size: contain;
  height: 15em;
  padding: 1em 2em;
  border: solid #555 0.1rem;
  color: #fff;
}

.tile-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: $tile-animation;
  z-index: 1;
}

.power-up-tile h2, .power-up-tile p {
  transition: $tile-animation;
  opacity: 0;
  position: relative;
  z-index: 2;
}

.power-up-indicator {
  border-radius: 50%;
  width: 1.5em;

  transition: $tile-animation;
  position: relative;
  left: -.5em;
  border: solid #ccc .1em;
  color: #ccc;
  padding: .15em .6em;
  opacity: 1;
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  5% { -webkit-transform: scale(1.5);}
  10% { -webkit-transform: scale(1); }
  15% { -webkit-transform: scale(1.5); }
  20% { -webkit-transform: scale(1); }
  25% { -webkit-transform: scale(1.5); }
  30% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.power-up-unlocked {
  background-color: #fff;
  border-color: #111;
  color: #000;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 10000ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
}

.power-up-tile.unlocked {
  background-color: #222;
}

.power-up-tile.unlocked:hover {
  h2, p {
    opacity: 1;
  }
  .tile-bg {
    opacity: 0;
  }
}

